.display {
  margin: 10px;
  width: 222px;
  padding: 8px;
  font-size: 24px;
  background-color: black;
  color: rgb(119, 3, 3);
  border: 0px;
  border: 1px solid rgb(119, 3, 3);
  border-radius: 5px;
}
