.mainContainer {
  /* width: calc(100% - 250px); */
  /* width: 100% !important; */
  margin: 0px;
}
.cardStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 20px; */
}
.cardMain {
  margin: 12px;
}
.cardHeading {
  font-size: 36px;
  padding: 30px 0px;
  margin: 0px;
}
.addBlogContainer {
  justify-content: center;
}
.addBlogsForm {
  width: 850px !important;
}
